<!-- src/app/user-profile/user-profile.component.html -->
<app-navbar></app-navbar>
<div class="profile-container">
  <h1>
    <mat-card-title>Your Profile</mat-card-title>
  </h1>
  <mat-card class="profile-card">
    <mat-card-header> </mat-card-header>
    <mat-card-content>
      <p>Username: {{ user }}</p>
      <p>Password: ***Hidden***</p>
      <p>Email: {{ email }}</p>
      <p>Birthday: {{ profileBd }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Update</h2>
        <p>Please fill in all fields to update.</p>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="flex-form">
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="updatedInfo.Username"
            placeholder="Update Username"
            type="text"
            name="Username"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="updatedInfo.Password"
            type="password"
            placeholder="Update Password"
            name="Password"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="updatedInfo.Email"
            type="email"
            placeholder="Update Email"
            name="Email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="updatedInfo.Birthday"
            type="text"
            placeholder="Update Birthday"
            onfocus="(this.type='date')"
            name="Birthday"
            required
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="updateUser()" color="primary">
        Update
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Delete</h2>
        <p>
          Are you sure!? Clicking this button will completely delete your
          profile.
        </p>
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button (click)="deleteUserProfile()" color="accent">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
