.profile-container {
  max-width: 90vw; 
  margin: auto; 
  padding-top: 10px; 
  padding-bottom: 30px;
  text-align: center;
}

.profile-card {
  background-color: #B3E5FC; 
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.flex-form {
  display: flex; 
  flex-direction: column;
}
